<div class="container border">
    <div>
        <!-- Menu Superior -->
        <div class=" d-flex justify-content-center">
            <button class="btn btn-danger mb-3 mt-3">
                Conversor de texto pra binario
            </button>
        </div>
        
        <!-- Menu de conversão -->
        <div class="input-group input-group-lg mb-3">
            <textarea [formControl]="inputText" id="custom-input-size" name="" placeholder="Digite o texto que será convertido." class="form-control mr-3 "></textarea>
            <div *ngIf="convertedText" id="output-size" class="form-control output">
                <p>{{convertedText.value}}</p>
            </div>
        </div>
        <!-- Menu inferior-->
        <div class="d-flex justify-content-center mb-3">
            <button (click)="uppercaseText(inputText.value)" class="btn btn-primary mr-3">
                Tudo Maiusculo
            </button>
            <button (click)="lowercaseText(inputText.value)" class="btn  btn-secondary mr-3">
                Tudo Minúsculo
            </button>
            <button class="btn btn-success mr-2">
                Talvez Camel case
            </button>
            <button class="btn btn-warning justify-content-center">
                Talvez Snake case
            </button>
        </div>
    </div>
</div>